<%-include header.ejs%>
    <div class="page-header">
        <h1>
            Library Management System
        </h1>
    </div>

    <p>
        Administrators can sign in to unlock all their privileges while all user can use bool search function.
    </p>
<%-include tail.ejs%>